<h5><i class="fas fa-share-alt"></i> {{ Model.DisplayText }}</h5>
<p>Kết nối với chúng tôi trên mạng xã hội để cập nhật thông tin mới nhất!</p>
<div class="social-links">
    <a href="{{ Model.SocialLink.Text }}" class="text-white" target="_blank">
        <i class="fab fa-facebook fa-2x"></i>
    </a>
</div>
