{% comment %}
Template hiển thị Widget Footer Social - FooterLeft Zone
Field paths: DisplayText (TitlePart), SocialUrl.Text, SocialIcon.Text
{% endcomment %}

<div class="footer-social-content" style="color: white !important;">
    <h5><i class="fas fa-share-alt me-2"></i>{{ Model.ContentItem.DisplayText }}</h5>
    <p class="mb-3">
        Kết nối với chúng tôi trên mạng xã hội để cập nhật thông tin mới nhất!
    </p>
    <div class="social-links">
        <a href="{{ Model.ContentItem.SocialUrl.Text }}" target="_blank" class="btn btn-outline-light btn-sm">
            <i class="{{ Model.ContentItem.SocialIcon.Text }} me-1"></i>
            Theo dõi chúng tôi
        </a>
    </div>
</div>